<div>
  {{>navBarPartial }}
</div>
  <h3>{{this.beach.name}}, {{this.beach.region}}</h3>
<div class="info-beach-container">
  <img src="{{this.beach.beachPic}}" alt="beach-image">
  <p>Description:</p>
  <p>{{this.beach.description}}</p>
  <p>Difficulty access: {{this.beach.difficultyAccess}}</p>
  <p>Entertainment:</p>
  <ul>
    {{#each this.beach.entertainment}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <div>
    {{#if adminActive}}
    <form action="/admin/delete/{{this.beach._id}}" method="post">
    <button>Delete</button>
    </form>
    <a href="/admin/edit/{{this.beach._id}}"><button>Edit</button></a>
    {{/if}}
  </div>
</div>

<div id="map"></div>

<div>
  <form action="/comment/create/{{this.beach._id}}" method="post">
    <label for="comment">Comments: </label>
    <textarea name="comment" cols="30" rows="10"></textarea>
    <button>Send comment</button>
    
    </form>
    {{#each this.allComment}}
   <h3>{{this.user.username}}</h3>
   <p>{{this.comment}}</p>
    {{!-- aqui no podemos poner this.comment porque comment es un string del modelo y deberiamos cambiarlo a futuro por text --}}
    {{#if isOwner}}
   <a href="/comment/edit/{{this._id}}"><button class="btn btn-primary">Edit coment</button></a>
   <form action="/comment/delete/{{this._id}}" method="post">
   <button class="btn btn-danger">Delete coment</button>
   </form>
   {{/if}}
    {{/each}}
</div>


<script>
  let map = L.map('map').setView([{{{this.lat}}},{{{this.lon}}}], 13)

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker([{{{this.lat}}},{{{this.lon}}}]).addTo(map)
    .bindPopup('Here is the beach')
    .openPopup();
</script>