<div>
  {{>navBarPartial }}
</div>
<div id="single-title">
  <h3>{{this.beach.name}}, {{this.beach.region}}</h3>
</div>
  <div class="single-img">
    <img src="{{this.beach.beachPic}}" alt="beach-image" />
  </div>
<div class="info-beach-container">
  <div class="single-info">
    <h5>Description:</h5>
    <p>{{this.beach.description}}</p>
    <h5>Difficulty access: </h5>
    <p>{{this.beach.difficultyAccess}}</p>
    <h5>Entertainment:</h5>
    <ul>
      {{#each this.beach.entertainment}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
<div id="map"></div>
</div>
<div class="single-admin-btn">
  {{#if adminActive}}
  <h5>Admin beach options: </h5>
    <a href="/admin/edit/{{this.beach._id}}"><button class="btn btn-primary">Edit</button></a>
    <form action="/admin/delete/{{this.beach._id}}" method="post">
      <button class="btn btn-danger">Delete</button>
    </form>
  {{/if}}
</div>

<div class="mb-3">
  <form action="/comment/create/{{this.beach._id}}" method="post">
    <label for="comment" class="form-label">Comments: </label>
    <textarea name="comment" rows="3" class="form-control" id="exampleFormControlTextarea1"></textarea>
    <button class="btn btn-primary" style="margin-top: 10px;" >Send comment</button>
  </form>
 </div>
 <div class="all-comment" >
  {{#each this.allComment}}
  <div class="each-comment">
    <h3>{{this.user.username}}</h3>
    <p>{{this.comment}}</p>
    {{! aqui no podemos poner this.comment porque comment es un string del modelo y deberiamos cambiarlo a futuro por text }}
    {{#if isOwner}}
    <div class="btn-comment">
      <a href="/comment/edit/{{this._id}}"><button class="btn btn-primary">Edit
          coment</button></a>
      <form action="/comment/delete/{{this._id}}" method="post">
        <button class="btn btn-danger">Delete coment</button>
      </form>
      </div>
    {{/if}}
    </div>
  {{/each}}
</div>

<script>
  let map = L.map('map').setView([{{{this.lat}}},{{{this.lon}}}], 13)
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', { 
  attribution:'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>contributors' })
  .addTo(map); 
  L.marker([{{{this.lat}}},{{{this.lon}}}]).addTo(map)
  .bindPopup('Here is the beach') .openPopup();
  
</script>